
.container h1{
    font-size: 80px;
    font-weight: 700;
    /* letter-spacing: -6px; */
    color: rgb(0, 0, 0);
    font-family: Impact;
}
.container h3{
    font-size: 35px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-family: "Times New Roman";
}
.container p{
    font-size: 35px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-family: "Times New Roman";
}


.btn{
    color: white;
    padding: 25px 70px;
    border-radius: 0;
    background-color: blue;
    border: 1px solid black;
}
.btn:hover{
    color: white;
    border-radius: 0;
    background-color: green;
    border: 1px solid black;
}